@use "../../styles/util" as u;

.links {
  display: none;

  p {
    @include u.paragraph(u.$whiteColor, u.$font, u.rem(18), 500, u.rem(25));
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;

    @include u.breakpoint-up("xxlarge") {
      @include u.paragraph(u.$whiteColor, u.$font, u.rem(20), 500, u.rem(26));
    }
  }

  &.menu {
    display: block;

    p {
      margin: 1rem 0;
    }
  }

  @include u.breakpoint-up("large") {
    display: flex;
  }
}
