$gradientTextColor: linear-gradient(89.97deg, #FF9C01 1.84%, #FFCD80 102.67%);

$gradientBar: linear-gradient(103.22deg, #FF9C01 -13.86%, #FFCD80 99.55%);

$firstbBgColor: #810d34;
$secondBgColor: #55031c;

$blogColor: #042c54;
$textColor: #f5deb3;
$subtextColor: #FF8A71;

$whiteColor: #fff;
$buttonColor: #FF9C01;